{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        devcards {:mvn/version "0.2.6"}
        reagent {:mvn/version "0.8.1"}
        reagent-forms {:mvn/version "0.5.42"}
        timothypratley/reanimated {:mvn/version "0.3.0"}
        re-frame {:mvn/version "0.10.6"}
        ; stylefy {:mvn/version "1.7.0"}
        org.clojure/test.check {:mvn/version "0.9.0"}}
 :paths ["src" "target" "resources"]}
