.hover-grower {
  transition: all .1s ease;
}

.hover-grower:hover {
  transform: scale(1.15);
}

.hover-opacity {
  transition: all .1s ease;
}

.hover-opacity:hover {
  fill-opacity: 0.9
}

.svg-icon:empty::after {
  content: "svg";
  visibility: hidden;
}
