/* only hover styles atm, is there a way to create these inline instead? */

.hover-grower {
  transition: all .1s ease;
}

.hover-grower:hover {
  transform: scale(1.15);
}

.hover-opacity {
  transition: all .1s ease;
}

.hover-opacity:hover {
  opacity: 0.8;
}
